*{
    margin:0;
    padding:0;
    text-align:center;
}
img{
    max-width:70%;
    padding:30px;
}



nav h1 {
    font-size:calc(1.5rem + 3vw);
    text-align:center;
    padding: 1rem;

}
.flexContainer {
    display: flex;
    flex-wrap: wrap;
}

.left,
.right {
    flex: 0 0 20%;
    box-sizing: border-box;
    padding: 10px;
    margin:20px;
    border-radius:5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main {
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
}
button {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    border: solid rgba(0, 0, 0, 0.15) 1px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #aaa;
    transform: scale(1.05);
}
@media (max-width: 800px) {
    .left,
    .right,
    .main {
        text-align: center;
        flex: 1 0 100%;
        box-shadow: none;
    }
    h1 {
        font-size: calc(1.5rem + 7vw);
    }
}
@media (max-width: 1023px) {
    
}
